<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
<FilesMatch "\.(jpg|css|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>
php_value opcache.memory_consumption 256
php_value opcache.max_accelerated_files 20000
php_value realpath_cache_size 4096K
php_value realpath_cache_ttl 600