{% extends 'blog_base.html.twig' %}

{% block title %} Все пользователи - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <h1>Управление пользователями</h1>

    {{ include('_blog_pagination.html.twig') }}

    {% if users %}
        {% for user in users %}
            {{ include('user/_user.html.twig') }}
        {% endfor %}
    {% else %}
        <div class='contentsinglepost'><p class='center'>Нет информации для отображения</p></div>
    {% endif %}
{% endblock %}