{% extends 'blog_base.html.twig' %}

{% block title %} Модерация комментариев - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <h1>Модерация комментариев</h1>

    {{ include('_blog_pagination.html.twig') }}

    {% if comments %}
        {% for comment in comments %}
            {{ include('moderator/_comment.html.twig') }}
        {% endfor %}
    {% else %}
        <p class='center'>Все комментарии прошли проверку</p>
    {% endif %}
{% endblock %}