{% extends 'blog_base.html.twig' %}

{% block title %}Модерация постов - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <h1>Модерация постов</h1>

    {{ include('_blog_pagination.html.twig') }}

    {% if posts %}
        {% set class = 'viewpost' %}
        {% for post in posts %}
            {{ include('moderator/_mod_post.html.twig') }}
        {% endfor %}
    {% else %}
        <p class='center'>Все посты прошли проверку</p>
    {% endif %}
{% endblock %}