{% extends 'blog_base.html.twig' %}

{% block title %} Поиск постов - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

  <p></p>

  <pre></pre>
  
  <script src='{{ asset('build/script.js') }}'></script>

{% endblock %}