{% extends 'blog_base.html.twig' %}

{% block description %}
    <h1>{{ description }}</h1>
{% endblock %}

{% block content %}
    <a class='link' href="#" onclick="history.back();">Вернуться назад</a>
    <br>
    <br>
    <a class='link' href='{{ path('post_main') }}'>Перейти на главную страницу</a>
{% endblock %}