{% extends 'blog_base.html.twig' %}

{% block title %} Добавление поста - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <div class='addpostcontainer'>
        <p class='formname'>Форма добавления поста:</p>
        <div class='addpostform'>
            <form action='{{ path('post_add') }}' method='post' enctype="multipart/form-data">
                <label>Заголовок: 
                    <input 
                        type='text'
                        title='Заголовок'
                        class='addpostname'
                        required minlength="1"
                        maxlength='140'
                        autofocus
                        name='title'
                        placeholder="Добавьте заголовок поста. Количество символов: от 20 до 140"
                    >
                </label>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ max_size_of_upload_image }}">
                <label>
                    <p class='addpostlabel'>
                        Пожалуйста, добавьте картинку. 
                        Допускаются jpg весом до {{ max_size_of_upload_image / 1024 / 1024 }} мегабайт
                    </p>
                    <input class='addpostimg' type='file' name='image'> <!-- required -->
                </label>
                <label>
                    <p class='addpostlabel'>Содержание поста:</p>
                    <textarea 
                        title='Содержание'
                        required
                        minlength="1"
                        maxlength='4000'
                        spellcheck="true"
                        wrap='hard'
                        name='content'
                        placeholder="Добавление содержания. Количество символов: от 20 до 4000 с пробелами"
                        id='addposttextarea'
                    ></textarea>
                </label>
                <br>
                <input type='submit' value='Добавить пост' class='addpostsubmit'>
            </form>
        </div>
    </div>
{% endblock %}