{% extends 'post/home.html.twig' %}

{% block title %} Все посты - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    {{ include('_blog_pagination.html.twig') }}

    {% if posts %}
        {% set class = 'viewpost' %}
        {% for post in posts %}
            {{ include('post/_post.html.twig') }}
        {% endfor %}
    {% else %}
        <div class='contentsinglepost'><p class='center'>Нет информации для отображения</p></div>
    {% endif %}
{% endblock %}