{% extends 'blog_base.html.twig' %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <h1>Наилучший источник информации по теме "Путешествия"</h1>

    {% if posts %}
        {% set class = 'generalpost' %}
        {% for post in posts %}
            {{ include('post/_post.html.twig') }}
            {% set class = 'viewpost' %}
        {% endfor %}
    {% else %}
        <div class='contentsinglepost'><p class='center'style='color: rgb(150, 20, 20);'>Нет информации для отображения</p></div>
    {% endif %}

    {% if posts|length > 9 %}
        <div class='contentsinglepost'><a class='formsubmit' href='{{ path('post_show_all') }}'>Посмотреть посты за всё время</a></div>
    {% endif %}

    {% if moreTalkedPosts %}
        <p style='text-align:center; font-size:16pt; margin-top:5%'>Самые обсуждаемые посты за неделю &darr;&darr;&darr;</p>
        {% set class = 'viewpost' %}
        {% for post in moreTalkedPosts %}
            {{ include('post/_post.html.twig') }}
        {% endfor %}
    {% endif %}
{% endblock %}