{% extends 'blog_base.html.twig' %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <h1>Наилучший источник информации по теме "Путешествия"</h1>

    {#% dump posts %#}

    {% if posts %}
        {% set class = 'generalpost' %}
        {% for post in posts %}
            {{ include('post/_post.html.twig') }}
            {% set class = 'viewpost' %}
        {% endfor %}
    {% else %}
        <p class='center'>Нет информации для отображения</p>
    {% endif %}

    {% if posts|length > 9 %}
        <div class='singleposttext'><a class='formsubmit' href='{{ path('post_show_all') }}'>Посмотреть все посты</a></div>
    {% endif %}

    {% if moreTalkedPosts %}
        <p class='center' style='font-size: 16pt; margin-top: 5%;'>Самые обсуждаемые посты за неделю &darr;&darr;&darr;</p>
        {% set class = 'viewpost' %}
        {% for post in moreTalkedPosts %}
            {{ include('post/_post.html.twig') }}
        {% endfor %}
    {% endif %}
{% endblock %}