{% extends 'blog_message.html.twig' %}
{% set session_user_id = false %}
{% set is_superuser = false %}
{% block description %}
    <h1>Произошла ошибка 403: вам запрещен доступ к этому ресурсу</h1>
{% endblock %}