<h1>Здравствуйте! Подтвердите, пожалуйста, ваш email</h1>

<p>
    Подтвердить вашу электронную почту можно по ссылке: <br><br>
    <a href="{{ signedUrl }}">Ссылка для подтверждения</a>.
    Эта ссылка перестанет быть действительной в {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    С наилучшими пожеланиями, Просто Блог
</p>
