{% extends 'blog_base.html.twig' %}

{% block title %} Регистрация - Просто Блог {% endblock %}

{% block content %}
    <div class='formentry'>
        <p class='formname'>Регистрация</p>
        <form action='{{ path('user_reg') }}' method='post'>
            <label class='formlabel'>Введите вашу почту: 
                <input type='email' name='regemail' required autofocus minlength="1" maxlength='50'  autocomplete="on" placeholder='Введите email' class='formtext'>
            </label>
            <label class='formlabel'>Введите фамилию и имя (будут видны всем): 
                <input type='login' name='regfio' required minlength="1" maxlength='50' autocomplete="on" placeholder='ФИО или псевдоним' class='formtext'>
            </label>
            <label class='formlabel'>Придумайте пароль: 
                <input type='password' name='regpassword' required minlength="1" maxlength='20' autocomplete="off" placeholder='Введите пароль' class='formtext'>
            </label>
            <img class='captcha' src="{{ asset('images/captcha.php') }}"><br>
            <label class='formlabel'>Введите код с картинки выше: 
                <input type='login' name='variable_of_captcha' required minlength="1" maxlength='20' autocomplete="off" placeholder='Код с captcha' class='formtext'>
            </label>
            {% if is_superuser %}
                <label><input type='checkbox' name='add_admin'>Зарегистрировать как админа</label><br><br>
            {% endif %}
            {% for message in app.flashes('error') %}
                <div class='formmsg'>
                    <p class='error'>{{ message }}</p>
                </div>
            {% endfor %}
            <div id='right'>
                <input type='submit' value='Создать аккаунт' class='formsubmit'>
            </div>
        </form>
    </div>
{% endblock %}