<h1>Здравствуйте! Подтвердите, пожалуйста, ваш email - Просто Блог</h1>

<h3>
    Подтвердить вашу электронную почту можно по ссылке: <br>
    <a href="{{ absolute_url(path('user_verify', {'secretCipher': url})) }}">Ссылка для подтверждения</a>.<br>
</h3>

<p style='text-align: center;'>
    С наилучшими пожеланиями, Просто Блог 2021-{{ date()|date('Y') }}
</p>