<h1>Ваша ссылка для восстановления пароля - Просто Блог</h1>

<h3>
    Восстановить доступ к аккаунту можно по ссылке: <br>
    <a href="{{ absolute_url(path('user_recovery', {'secretCipher': url})) }}">Ссылка для подтверждения</a>.<br>
</h3>
<p> 
    Эта ссылка перестанет быть действительной после изменения пароля.
</p>

<p style='text-align: center;'>
    С наилучшими пожеланиями, Просто Блог 2021-{{ date()|date('Y') }}
</p>
